/* Bootstrap B&B
   CIS130W01
   Kari Cook
   7-22-22  */
html h1{
  font-family: 'Updock', cursive;
  font-size: 70px;
  text-align: center;
}
body {
  background-color: #fbe7e0;
}
.heading h1 {
  box-shadow: 2px 6px 5px 2px #7e726d;
  margin-top: 15px;
  padding: 10px;
  background-color: #db754c;
  border-radius: 5px;
  border: 5px black double;
}

.form-container {
  box-shadow: 2px 6px 5px 2px #7e726d;
  padding: 15px;
  margin-top: 25px;
  border-radius: 5px;
}

.cards {
  display: flex;
  grid-gap: 20px;
}
.card {
  box-shadow: 2px 6px 5px 2px #7e726d;
  margin-top: 15px;
}
.slide {
  margin-top: 20px;
  box-shadow: 2px 6px 5px 2px #7e726d;
}

.map {
  margin: 10px;
  box-shadow: 2px 6px 5px 2px #7e726d;
   border-radius: 5px;
}

 iframe {
  width: 100%;
   border-radius: 5px;
 }

 .footer {
   padding: 10px;
   margin-top: 20px;
   border-radius: 5px;
   font-size: 1.6em;
   color:  #db754c;
   background-color: #3f261b;
   text-align: center;
   font-family: 'Updock', cursive;
 }

 @media (max-width: 768px) {
   .cards {
     display: grid;
     justify-content: center;
   }
 }
